
h1.install-header {
	width:40%;
	color:black;
	text-align: right;
	margin-top:200px;
	font-weight: $font-bold;
	border-bottom: 5px solid black;
}
h1.install-header span {
	font-size:0.6em;
	font-weight: $font-light;
}